<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
   
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
    <title>Menu</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/img/logo.png" alt="avatar logo" style="width: 60px; height:30px" class="rounded-fill">
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/templates/menu.html">Menu</a>
          </li>
            <li class="nav-item">
                <a class="nav-link" href="/templates/reservation.html">Reservations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/templates/about us.html">About US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/templates/blog.html">Blog</a>
          </li>
          

        </ul>
        <a href="/templates/online order.html" class="btn btn-brand">Order online</a>
    </div>
</nav>
<div id="menu">
    <h1 id="section">Menu</h1>
    <div id="menu_row">
        <div id="menu_col">
            <h2>Breakfast</h2>
            <div class="box">
                <div id="image">
                    <img src="/img/breakfast1.jpg">
                </div>
                <div>
                    <h3>Poached Egg</h3>
                    <h4>Tk. 250</h4>
                </div>
            </div>
            <div class="box">
                <div id="image">
                    <img src="/img/breakfast2.jpg">
                </div>
                <div>
                    <h3>Alu Paratha</h3>
                    <h4>Tk. 300</h4>
                </div>
            </div>
            <div class="box">
                <div id="image">
                    <img src="/img/breakfast3.jpg">
                </div>
                <div>
                    <h3>Vegetable Roll</h3>
                    <h4>Tk. 150</h4>
                </div>
            </div>
            
        </div>
        <div id="menu_col">
            <h2>Lunch</h2>
            <div class="box">
                <div id="image">
                    <img src="/img/lunch1.jpg">
                </div>
                <div>
                    <h3>Chicken Biriyani</h3>
                    <h4>Tk. 450</h4>
                </div>
            </div>
            <div class="box">
                <div id="image">
                    <img src="/img/lunch2.jpg">
                </div>
                <div>
                    <h3>Fish Fry</h3>
                    <h4>Tk. 600</h4>
                </div>
            </div>
            <div class="box">
                <div id="image">
                    <img src="/img/lunch3.jpg">
                </div>
                <div>
                    <h3>Lunch Package 01</h3>
                    <h4>Tk. 700</h4>
                </div>
            </div>
            
        </div>
        <div id="menu_col">
            <h2>Dinner</h2>
            <div class="box">
                <div id="image">
                    <img src="/img/dinner1.jpg">
                </div>
                <div>
                    <h3>Chicken Grill</h3>
                    <h4>Tk. 850</h4>
                </div>
            </div>
            <div class="box">
                <div id="image">
                    <img src="/img/dinner2.jpg">
                </div>
                <div>
                    <h3>Chicken Stew</h3>
                    <h4>Tk. 900</h4>
                </div>
            </div>
            <div class="box">
                <div id="image">
                    <img src="/img/dinner3.jpg">
                </div>
                <div>
                    <h3>Butter Chicken</h3>
                    <h4>Tk. 1000</h4>
                </div>
            </div>
            
        </div>
    </div>
</div>
</body>
</html>